* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: pink;
}

img.thumbnail {
    width:50px;
    height:70px;
}


.thumbnailImage {
    width:50px;
    height:70px;
}

.thumbnail-Container {
    height: 60px;
    width: auto;
    display: flex;
}

.thumbnailContainer {
    height: 60px;
    width: auto;
    display: flex;
}

img.largeImage {
    
}