* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(28, 28, 28, 1) 100%
  );
}

/* Thumbnail */

.thumbnail-container {
  height: 60px;
  width: auto;
  display: flex;
}

#thumbnail-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.thumbnail-image {
  width: auto;
  height: 50px;
  cursor: pointer;
}

/* Buttons  */

#next {
  right: 15px;
  top: 50%;
}

#previous {
  left: 10px;
  top: 50%;
}

#next,
#previous {
  position: absolute;
  font-size: 1rem;
  padding: 5px 5px;
  cursor: pointer;
  border: double;
  border-radius: 20px;
  background-color: rgba(255, 166, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.541);
  color: white;
}

/* Gallery */

#large-image-container {
  display: flex;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

/* Media Query */

@media (max-width: 600px) {
  #thumbnail-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
