* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.thumbnail-container {
  height: 60px;
  width: auto;
  display: flex;
}

#thumbnail-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  justify-content: center;
  /* play with this for styling later */
}

.thumbnail-image {
  width: auto;
  height: 50px;
  cursor: pointer;
}

.large-image-container {
  width: 100vw;
  height: 100vh;
}

.largeImage {
  width: 100vw;
  height: auto;
}

img {
  width: 100%;
  height: 100vh;
}

@media (max-width: 600px) {
  #thumbnail-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
}
